@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"]{
  background: linear-gradient(#a2cea2 5%, #485B48) no-repeat;
  background-attachment: fixed;
}

[data-theme="dark"] .divider-light{
  visibility: hidden;
}