
.githubSection{
  background-color: transparent;
  color: hsl(var(--nextui-primary-foreground));

  min-height: 10%;
  width: 100%;
}

[data-theme ='dark'] .githubSection{
  color: var(--dark-text);
}

.mySocial{
  display: flex;

  padding-left: 10px;
  padding-top: 15px;

  cursor: pointer;
  max-width: 11%;
}


[data-theme = 'dark'] .footervdivider{
  border: 3px solid var(--dark-highlight);
}

.referralsSection{
  color: var(--light-secondary-text);
  padding-top: 2vh;
  padding-right: 30px;
}

[data-theme = 'dark'] .referralsSection{
  color: var(--dark-highlight);
}

.socialborder{
  border-right: 5px solid var(--light-bg);
  padding-right: 10px;
}

[data-theme = 'dark'] .socialborder{
  border-right: 5px solid var(--dark-highlight);
}

a{
  cursor: pointer;
  color: var(--light-secondary-text);
}

[data-theme = 'dark'] a{
  color: var(--dark-text);
}

a:hover{
  text-decoration: underline;
}

[data-theme = 'dark'] a:hover{
  color: var(--dark-highlight);
}