
li{
  list-style-type: none;
  float: inline-start;
  margin-right: 10px;

  font-weight: 400;
}

Button{
  color: hsl(var(--nextui-primary));
}

li:last-child{
  float: none;
}

#pessoa, #odonto, #mode{
  animation-name: flipCard;
  animation-play-state: paused;
  animation-timing-function: ease-out;
  animation-iteration-count: forwards;

  animation-duration: .4s;
  animation-fill-mode: alternate;
}

#odonto, #odontolabel, #mode, #modelabel{
  transition-property: rotate, opacity, visibility, display;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.label{
  position: absolute;

  padding-left: 5px;
  transform: translateY(-22px);

  font-size: .9em;
  color: hsl(var(--nextui-primary));
}

@keyframes flipCard {
  0%{
    rotate: y 0deg;
    color: insideTextColor;
  }
  15%{
    color:transparent
  }
  50%{
    rotate: y 180deg;
  }
  100%{
    rotate: y 360deg;
    color: insideTextColor;
  }
}

/*MOBILE SECTION --------------------------------------------------------------------------------*/
@media only screen and (max-width: 1081) {
  Button{
    font-size: smaller;
  }
}