.inputColor{
  color: var(--light-text) !important;
}

[data-theme = 'dark'] .inputColor{
  color: var(--dark-text) !important;
}

[data-theme = 'dark'] #darkInput{
  display: flex;
}

[data-theme = 'light'] #darkInput{
  display: none;
}

[data-theme = 'dark'] #lightInput{
  display: none;
}

[data-theme = 'light'] #lightkInput{
  display: flex;
}

Input[type="number"]::-webkit-inner-spin-button,
Input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}