input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.txtfield{
  background-color: var(--light-bg);
  color: var(--light-text);

  font-size: x-large;
  border-radius: 15px;
  border: 2px solid transparent;

  padding: 5px;
  padding-left: 15px;
}

.inputOutline{
  display: flex;
}

.txtfield:focus{
  outline: 2px solid var(--light-highlight);
}

[data-theme = 'dark'] .txtfield:focus{
  outline: 2px solid var(--dark-highlight);
}

.txtfield:hover{
  outline: 2px solid var(--light-highlight);
}

[data-theme = 'dark'] .txtfield:hover{
  outline: 2px solid var(--dark-highlight);
}

[data-theme = 'dark'] .txtfield{
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.txtfieldLabel{
  padding-left: 8px;
  font-size: .9em;
  color: var(--light-highlight)
}

[data-theme = 'dark'] .txtfieldLabel{
  color: var(--dark-highlight)
}

.descontolabel{
  font-size: .7em;
  user-select: none;

  margin-right: 9px;
  display: block;
  text-align: right;
  padding-top: 2px;
}

#descontooption{
  user-select: none;
  margin-right: 9px;
  cursor: pointer;
}

.totallabel{
  font-size: .7em;
  display: block;
  text-align: right;

  padding-top: 2px;
  padding-right: 10px;
}

input:disabled{
  opacity: .4;
}

input:disabled:hover{
  outline: none;
}

[data-theme = 'dark'] input:disabled:hover{
  outline: none;
}

#dlabel{
  cursor: pointer;
  margin-left: 80%;
}

/*MOBILE SECTION --------------------------------------------------------------------------------*/
@media only screen and (max-width: 1081) {
  .inputOutline{
    display: initial;
  }

  .inputField{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
