
.titlecop{
  text-align: center;
  font-size: x-large;

  color: var(--light-highlight);
}

[data-theme = 'dark'] .titlecop{
  color: var(--dark-highlight);
}

[contenteditable]{
  outline: 0px solid transparent;
}

.valuefield{
  width: 100%;
  background: radial-gradient(ellipse at top left, #c7e1c7 50%, transparent),
  radial-gradient(ellipse at bottom, #9fb49f 80%, transparent);

  color: var(--light-text);

  border-radius: 25px;
  border: 2px solid rgba(37,74,44,.3);

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;

  cursor: pointer;
  min-height: 60vh;
  max-height: 60vh;

  overflow-y: scroll;
}

[data-theme = 'dark'] .valuefield{
  background: var(--dark-bg);
  color: var(--dark-text);
  border: 2px solid transparent;
}

.valuefield:hover{
  border: 2px solid var(--light-highlight);
}

[data-theme = 'dark'] .valuefield:hover{
  border: 2px solid var(--dark-highlight);
}

.vdivider{
  border: 1px solid var(--light-highlight);
}

[data-theme = 'dark'] .vdivider{
  border: 1px solid var(--dark-highlight);
}

#title_cp, #title_ct{
  text-align: center;
  font-size: larger;
  font-weight: 500;
  padding-left: 10vw;

  color: var(--light-text);
}

[data-theme = 'dark'] #title_cp, [data-theme = 'dark'] #title_ct{
  color: var(--dark-text);
}

.innerTitle{
  color: var(--light-highlight);
  text-align: center;
  font-weight: bold;
  display: none;
}

[data-theme = 'dark'] .innerTitle{
  color: var(--dark-highlight);
}

#ap1, #ap2, #en1, #en2, #am1, #am2{
  color: var(--light-text);
  text-align: start;
  font-weight: 500;
  padding-bottom: 10px;
}

[data-theme = 'dark'] #ap1, [data-theme = 'dark'] #ap2, [data-theme = 'dark'] #en1, [data-theme = 'dark'] #en2, [data-theme = 'dark'] #am1, [data-theme = 'dark'] #am2{
  color: var(--dark-text);
}

.copyanim{
  transition: transform .4s;
}

.copyanim:hover{
  transform: rotate(360deg);
}

.copiedText{
  color: var(--light-secondary-text);
}

[data-theme = 'dark'] .copiedText{
  color: var(--dark-text);
}

#customScrollbarDiv{
  display: flex;
}

#customScrollbarDiv ::-webkit-scrollbar {
  width: 22px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

#customScrollbarDiv ::-webkit-scrollbar-track {
  margin-top: 75px;
  margin-bottom: 75px;
  background: transparent; /* Background of the scrollbar track */
}

#customScrollbarDiv ::-webkit-scrollbar-thumb {
  background: var(--light-highlight); 
  border-radius: 5px;
  border-right: 8px solid transparent; 
  border-left: 5px solid transparent; 
  background-clip: content-box;
}

[data-theme = 'dark']#customScrollbarDiv ::-webkit-scrollbar-thumb{
  background: hsl(var(--nextui-secondary));
  border-radius: 5px;
  border-right: 8px solid transparent; 
  border-left: 5px solid transparent; 
  background-clip: content-box;
}

.shortcutLabel{
    color: var(--light-highlight);
    font-size: x-small;
}

[data-theme = 'dark'] .shortcutLabel{
    color: var(--dark-highlight);
}

/*MOBILE SECTION --------------------------------------------------------------------------------*/
@media (max-width: 1081) {
  .vdivider{
    display: none;
  }

  #customScrollbarDiv{
    display: initial;
  }

  .valuefield{
    width: 90%;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #title_cp, #title_ct{
    text-align: center;
    font-size: larger;
    font-weight: 500;
  
    color: var(--light-text);
  }
}
